{% extends 'base.html' %}
{% load staticfiles %}
{% load pagination %}
{% block body %}

<section class="content-header">
	<div class="row">
		<h3 class="col-md-8 col-md-offset-2">Setores Cadastrados</h3>
	</div>
	<div class="row">
		<div class="col-md-7 col-xs-9 col-sm-9 col-md-offset-2">
			{% if object_list.count > 0 %}
			<form class="form-horizontal" action="." method="get">
				<div class="input-group">
					<input id="search_box" name="search_box" type="text" placeholder="Setor| Informe o nome ou sigla do setor" class="form-control" autofocus="true" value="{{ request.GET.search_box }}">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-default form-control" title="Clique para realizar a pesquisar">
							<i class="fa fa-search" aria-hidden="true"></i>
						</button>
					</span>
				</div>
			</form>
			{% endif %}
		</div>

		<div class="col-md-1 col-xs-3 col-sm-3">
			<a class="btn btn-success pull-right " href="{% url 'atendimento:setor_create' %}">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Novo
			</a>
		</div>
	</div>
</section>
<div id="listItems" class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="box box-primary">
				<div class="box-body">
					{% if object_list.count > 0 %}
					<div class="table-responsive">
						<table class="table table-hover table-condensed table-bordered table-striped">
							<thead>
								<tr class="text-center">
									<th class="text-center" width="30%">Nome</th>
									<th class="text-center" width="30%">Edição</th>
									<th class="text-center" width="30%">Ações</th>
								</tr>
							</thead>
							<tbody>
								{% for setor in object_list %}
								<tr>
									<td>{{ setor.nome_setor }}</td>
									<td>{{ setor.edicao }}</td>

									<td class="text-center">

										<a href="{% url 'atendimento:setor_update' setor.id %}" class="btn btn-warning btn-xs" title="Editar">
											<i class="fa fa-edit" aria-hidden="true"></i>
										</a>

										<button class="btn btn-danger btn-xs deleteItem" title="Remover" data-toggle="modal" data-id="{{ setor.id }}">
											<i class="fas fa-trash-alt"></i>
										</button>
										
									</td>

								</tr>

								{% endfor %}
							</tbody>
						</table>
					</div>
					{% else %}
					<div class="cent">
						<h4>
							<b>Nenhum Setor Cadastrado.</b>
						</h4>
					</div>
					{% endif %}
				</div>
				<div class="box-footer clearfix">
					<!-- Paginação -->
						{% pagination request paginator page_obj page_numbers show_first show_last %}
					<!-- Fim da Paginação -->
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block scripts %}

{{ block.super }}
{{ form.media }}

<script> 

$('#listItems').on('click', '.deleteItem', function(e){
	e.preventDefault();
	var id = $( this ).attr("data-id"),
	linha_editada = $(e.currentTarget).closest('tr');
	token = "{{csrf_token}}";

	// Verifica o protocolo se forr http ou https
	if (window.location.protocol == 'http:') {
		urlDel = "http://{{ request.get_host }}/atendimento/setor/deletar/"+ id 
	}else{
		urlDel = "https://{{ request.get_host }}/atendimento/setor/deletar/"+ id 
	}



	swal({
		title: "Deletar Permanentemente!",
		text: "Deseja realmente deletar esse setor?",
		type: "warning",
		showCancelButton: true,
		confirmButtonColor: "#DD6B55",
		confirmButtonText: "SIM!",
		cancelButtonText: "CANCELAR!",
		closeOnConfirm: false
	}, function(){
		//window.location.href = "http://localhost/ce/public/admin/gerenciarbanco/delete/"+id;
		$.ajax({
			url: urlDel,
			type: 'get',
			//data: { csrfmiddlewaretoken: token },
		})
		.done(function(d){
			if ( d.code == 1 ){
				swal('Excluido!','Setor excluido com sucesso!',"success");
				linha_editada.hide();
			}
		})
		.fail(function(f){
			swal('Falha!','Erro ao excluir o setor!',"error");
		});
	});
});
</script>
</script>

{% endblock %}
