{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Amigos da Comunidade | Home{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div style="margin-top: 6em;">
        <center>
          <img src="{% static 'img/logo_amg.png' %}"  style=" width: 40%;" class='img-responsive'>
          <h1>Seja Bem-vindo</h1>
          <h2>Amigos da Comunidade</h2>
          <h1><b>{{ get_user_logged }}</b></h1>
        </center>
      </div>
    </div>
  </div>
</div>
{% endblock %}
