
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">Navegação</li>
 



  <li class="treeview ">
    <a href="#" >
      <i class="fas fa-database"></i> <span> Atendimentos</span>
      <span class="pull-right-container">
        <!-- <i class="fa fa-angle-left pull-right"></i> -->
      </span>
    </a>
    <ul class="treeview-menu " >
      <li class=""><a href=""><i class="fas fa-users"></i> Setores de Atendimento</a></li>
      <li class=""><a href=""><i class="fas fa-heartbeat"></i>  Ficha de Atendimento</a></li>
      <li class=""><a href=""><i class="fas fa-users"></i> Fila de Atendimento</a></li>
    </ul>
  </li>



</ul>
