
<ul class="sidebar-menu" data-widget="tree">
  <li class="header">Navegação</li>
 

  <li class="treeview ">
    <a href="#" >
      <i class="fas fa-database"></i> <span> Edição </span>
      <span class="pull-right-container">
        <!-- <i class="fa fa-angle-left pull-right"></i> -->
      </span>
    </a>
    <ul class="treeview-menu" >
      <li class=""><a href="{% url 'edicao:edicao_create' %}"><i class="fas fa-user-md"></i>Nova Edição</a></li>
      <li class=""><a href="{% url 'edicao:edicao_list' %}"><i class="fas fa-user"></i> Listar Edições</a></li>
    </ul>
  </li>


  <li class="treeview ">
    <a href="#" >
      <i class="fas fa-database"></i> <span> Atendimentos</span>
      <span class="pull-right-container">
        <!-- <i class="fa fa-angle-left pull-right"></i> -->
      </span>
    </a>
    <ul class="treeview-menu " >
      <li class=""><a href=""><i class="fas fa-users"></i> Setores de Atendimento</a></li>
      <li class=""><a href=""><i class="fas fa-heartbeat"></i>  Ficha de Atendimento</a></li>
      <li class=""><a href=""><i class="fas fa-users"></i> Fila de Atendimento</a></li>
    </ul>
  </li>


  <li class="treeview">
    <a href="#" >
      <i class="fas fa-database"></i> <span> Usuários</span>
      <span class="pull-right-container">
        <!-- <i class="fa fa-angle-left pull-right"></i> -->
      </span>
    </a>
    <ul class="treeview-menu" >
      <li class=""><a href="{% url 'accounts:list_user_admin' %}"><i class="fas fa-users"></i>Administradores</a></li>
      <li class=""><a href="{% url 'accounts:list_user' %}"><i class="fas fa-users"></i>Voluntários</a></li>
    </ul>
  </li>


</ul>
